[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/saffronjam/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/saffronjam/glfw.git
